header {
    background: #CCCCCC;
    padding: 20px 0;
}

.caixa{
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top:110px;
    right: 0;
    
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover{ /* interage com o elemento a na nav quando o mouse é passado nele*/
    color: #C78C19;
    text-decoration-line: underline;
}

.produtos{
    width: 940px;/*largura desse bloco*/
    margin: 0 auto;
    padding: 50px 0; /*espaçamento interno, faz aumentar o tamanho*/
}

.produtos li{
    display: inline-block;
    text-align: center;
    width: 30%; /*3 itens 100/3 e + as margens*/
    vertical-align: top;
    margin: 0 1.5%; /*superio inferior e lateral*/
    padding: 30px 20px;
    box-sizing: border-box;/*width fixo n considera o padding para soma no width*/
    border:2px solid #000000; /* border-width border-style border-color*/
    border-radius: 10px; /*para arredondar as bordas*/
}

.produtos li:hover {/*ATIVA ISSO QUANDO PASSA O MOUSE*/
    border-color: #C78C19;
    
}

.produtos li:active {
    border-color: #088C19;
}

.produtos li:active .produto-preco {/*Quando o mouse estiver no li, altere o produto-preço*/
    color:#088C19;
}

.produtos li:hover h2{/*Quando o mouse estiver no li, altere o h2*/
    font-size: 35px;
}


.produtos h2{
    font-size: 30px;
    font-weight: bold;
    
}

.produto-descricao{
    font-size: 18px;
}

.produto-preco{
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}

footer {
    text-align: center;
    background: url(bg.jpg); /* enderçeo da imagem de fundo ao invés de cor*/
    padding: 40px  0;
}

.copyright{
    color: #FFFFFF;
    font-size: 13px;
    margin: 20px 0 0;
}